.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: center;
  width: 1340px;
  margin: 94px auto;
}

.header__menu {
  margin: 0;
  padding: 0;
  display: flex;
}

.header__links-list {
  list-style: circle;
  display: flex;
  align-self: center;
  margin: 0;
  padding: 0;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
  margin-right: 30px;
}

.header__links-list-item {
  margin-right: 30px;
}

.header__link_active {
  text-decoration: none;
  color: #000;
  font-family: Raleway, 'Arial', 'Helvetica', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header__link {
  color: #000;
  font-family: Raleway, 'Arial', 'Helvetica', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  color: #000;
  border-bottom: 1px #000 solid;
}

.header__logo {
  display: flex;
  justify-content: center;
}

.header__logo-image {
  width: 148px;
  height: 105px;
  align-self: center;
}

.address {
  display: flex;
  justify-content: end;
}

.address > p a {
  text-decoration: none;
  color: #000;
  border-bottom: 1px #000 solid;
}

.header__address {
  align-self: center;
  color: #000;
  font-family: Raleway, 'Arial', 'Helvetica', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.3px; /* 135% */
}

/* Секция 1 */

.cover {
  position: relative;
  width: 1440px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto auto;
  align-content: center;
  background-image: url(/images/cover.jpg);
  background-position: center;
  background-size: cover;
  z-index: 0;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: #000;
  opacity: 0.6;
  background-position: center;
  background-size: cover;
  z-index: 1;
}

.cover__title {
  margin: 0;
  padding: 165px 50px;
  padding-bottom: 85px;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 115px 100px 100px;
  align-content: center;
  gap: 20px;
}

.title-first-word {
  color: #fff;
  font-family: Raleway, 'Arial', 'Helvetica', sans-serif;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 115%; /* 115px */
  letter-spacing: 60px;
  text-transform: uppercase;
}
.title-second-word {
  color: #fff;
  text-align: center;
  font-family: Raleway, 'Arial', 'Helvetica', sans-serif;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 100px */
  letter-spacing: 60px;
  text-transform: uppercase;
}
.title-third-word {
  color: #fff;
  text-align: right;
  font-family: Raleway, 'Arial', 'Helvetica', sans-serif;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 100px */
  letter-spacing: 60px;
  text-transform: uppercase;
}

.title-txt {
  letter-spacing: 30px;
}

.title-last-letter {
  letter-spacing: 0px;
}

.cover__description {
  display: flex;
  justify-content: end;
  align-items: center;
  z-index: 1;
  padding: 50px 0;
}

.cover__description-text {
  word-spacing: 18px;
  color: #fff;
  text-align: center;
  font-family: Raleway, 'Arial', 'Helvetica', sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 127.273% */
  text-transform: uppercase;
  align-content: center;
}

.bet-button {
  width: 257px;
  height: 52px;
  border: 1px solid #fff;
  margin-right: 50px;
  margin-left: 78px;
  color: #fff;
  text-align: center;
  font-family: Raleway, 'Arial', 'Helvetica', sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  background-color: transparent;
}

/* Секция 2 */

.lots {
  width: 1340px;
  display: flex;
  margin: 180px auto;
  flex-direction: column;
}

.lots__heading {
  margin: 0;
  margin-left: 40px;
  margin-bottom: 27px;
  color: #000;
  font-family: Raleway, 'Arial', 'Helvetica', sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.lots__card-list {
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.lots__card-list-item {
}

.lots__card-list li a {
  text-decoration: none;
  color: #000;
  border-bottom: 1px #000 solid;
}

.card-text-title {
  text-decoration: none;
  color: #000;
  border-bottom: 1px #000 solid;
}

.card {
  position: relative;
  width: 430px;
  min-height: 450px;
  z-index: 0;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 1fr 3fr;
}

.card-text {
  width: 430px;
  min-height: 450px;
  margin: 0 auto;
  padding: 50px 40px;
  z-index: 1;
  display: grid; 
  grid-template-rows: 1fr 3fr;
}

.card-text-title {
  margin: 0;
  margin-bottom: 30px;
  color: #fff;
  font-family: Raleway, 'Arial', 'Helvetica', sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 26.4px */
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
  text-transform: uppercase;
}

.card-text-description {
  color: #fff;
  font-family: Raleway, 'Arial', 'Helvetica', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
  margin: 0;
  align-self: flex-end; 
}

.card_type_film {
  height: 450px;
  background-image: url(/images/card-lot-01.jpg);
  background-position: center;
  background-size: cover;
  z-index: 0;
}

.card_type_book {
  height: 450px;
  background-image: url(/images/card-lot-02.jpg);
  background-position: center;
  background-size: cover;
}

.card_type_picture {
  height: 450px;
  background-image: url(/images/card-lot-03.jpg);
  background-position: center;
  background-size: cover;
}

.lots__look-more-link {
  margin: 0;
  margin-left: 40px;
  margin-top: 30px;
  color: #000;
  font-family: Raleway, 'Arial', 'Helvetica', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.lots__look-more-link-text {
  text-decoration: none;
  color: #000;
  border-bottom: 1px #000 solid;
}

/* Секция 3 */

.about {
  width: 1340px;
  margin: 180px auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.about__column {
  width: 430px;
  padding: 0px 95px;
  margin-right: 25px;
}

.about__logo {
  background-color: #000;
  width: 240px;
  height: 240px;
  border-radius: 120px;
  display: flex;
  justify-content: center;
}

.about__logo-image {
  width: 148px;
  height: 114px;
  align-self: center;
}

.about__column__second {
  align-self: flex-end;
  margin-top: 100px;
}

.about__title {
  color: #000;
  font-family: Raleway, 'Arial', 'Helvetica', sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 100px;
}

.about__text {
  color: #000;
  font-family: Raleway, 'Arial', 'Helvetica', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  margin-top: 30px;
}

/* ФУТЕР */

.footer {
  width: 1340px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 90px;
}

.header__address p {
  margin: 0;
}

.footer__menu {
}

.footer__menu-list {
  padding: 0;
  list-style-type: none;
  text-align: center;
  margin: 0;
  color: #000;
  text-align: center;
  font-family: Raleway, 'Arial', 'Helvetica', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer__menu-list-item {
  
}

.footer__menu-link_active {
  text-decoration-line: none;
  color: #000;
}

.footer__menu-link {
  color: #000;
}

.footer__social {
  width: 240px;
  display: flex;
  justify-content: space-between;
}

.footer__social-list-item {
}

.footer__social-link {
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
